.AppBar {
  display: flex;
  flex-direction: column;
  gap: 28px;
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    flex-basis: 250px;
    flex-grow: 1;
  }

}
.appBarWrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;

  width: 100%;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    flex-direction: row;
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    // max-width: 393px;
    gap: 32px;
  }
}

