// import $colors form

.container {
  width: 100vw;
  height: 100vh;
  padding-top: 46px;
  background-color: rgb(245, 245, 245);
}

.table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
  width: 715px;
  // border-spacing: 5px;
  // border-radius: 20px;
}

.thead {
  height: 58px;
  border: none;
  color: #000000;
  overflow: hidden;
}

.theadRow {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.colHead {
  background-color: #ffffff;
  // padding: 20px 0;
}

.colHead:first-child {
  border-radius: 29px 0 0 29px;
}

.colHead:last-child {
  border-radius: 0 29px 29px 0;
  // background-color: #ffffff;
}

.tbodyRow {
  text-align: center;
  border-collapse: collapse;
  border-radius: 20px;
  padding: 16px 20px;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.colHead {
  color: #000000;
}

.colHead1 {
  color: #000000;
}

.income {
  color: #24cca7;
}

.expense {
  color: #ff6596;
}
