// import $colors form

.container {
  width: 100vw;
  height: 100vh;
  padding-top: 46px;
  background-color: rgb(245, 245, 245);
}

.table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
  width: 715px;
  // border-spacing: 5px;
  // border-radius: 20px;
}

.thead {
  height: 58px;
  border: none;
  color: #000000;
  overflow: hidden;
}

.theadRow {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.colHead {
  background-color: #ffffff;
}

.colHead:first-child {
  border-radius: 29px 0 0 29px;
}

.colHead:last-child {
  border-radius: 0 29px 29px 0;
}

.tbody {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.tbodyRow {
  text-align: center;
  padding: 16px 20px;
}

.td {
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #dcdcdf;
  // box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.6);
}

.col-1 {
  width: 95px;
}

.col-2 {
  width: 120px;
}

.col-3 {
  width: 130px;
}

.col-4 {
  width: 160zpx;
  text-transform: capitalize;
}

.col-5 {
  width: 90px;
}

.col-6 {
  width: 120px;
}

.income {
  color: #24cca7;
}

.expense {
  color: #ff6596;
}
