@font-face {
  font-family: Circe-Regular;
  src: local('Circe-Regular'),
    url(./assets/fonts/Circe-Regular.ttf) format('ttf');
}
@font-face {
  font-family: Circe-Bold;
  src: local('Circe-Bold'), url(/src/assets/fonts/Circe-Bold.ttf) format('ttf');
}
@font-face {
  font-family: poppins_reg;
  src: local('Poppins-Bold'),
    url(/src/assets/fonts/Poppins-Regular.ttf) format('ttf');
}
@font-face {
  font-family: poppins_bold;
  src: local('Poppins-Bold'),
    url(/src/assets/fonts/Poppins-Bold.ttf) format('ttf');
}
