.container {
  width: 100vw;
  height: 80vh;
  padding-top: 46px;
  background-color: rgb(245, 245, 245);
}

.tablesList {
  margin-left: auto;
  margin-right: auto;
}

.listItem {
  margin-bottom: 8px;
}

.trow {
  margin: 0;
  border-bottom: 1px solid #dcdcdf;
}

.trow:first-child {
  display: none;
}

.th {
  width: 50%;
  text-transform: capitalize;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px 8px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #dcdcdf;
}

.td {
  width: 50%;
  border-bottom: 1px solid #dcdcdf;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  text-transform: capitalize;
  padding: 12px 20px 8px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// .income {
//   color: #24cca7;
// }

// .expense {
//   color: #ff6596;
// }

.tableEXPENSE,
.tableINCOME {
  background-color: #fff;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden;
  table-layout: fixed;
}
.tableEXPENSE {
  & .th {
    border-left: 5px solid #ff6596;
  }
  & .sum {
    color: #ff6596;
  }
}
.tableINCOME {
  & .th {
    border-left: 5px solid #24cca7;
  }
  & .sum {
    color: #24cca7;
  }
}

// .td {
//   //  ? стилі првої колонки
// }
