@import '../../../sass/utils/variables';
@import '../../../sass/utils/mixins';
.Statistics {
  display: flex;
  height: 100%;
  width: 100%;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.statisticsTitle {
  font-family: 'Poppins-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.chartWrapper {
  max-width: 288px;
  margin-right: 32px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 336px;
  }
  @media screen and (max-width: 767px) {
    max-width: 440px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
  }
}

.tableWrapper {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 336px;
    margin-left: auto;
  }
}

.selectWrapper {
  height: 115px;
  margin-bottom: 20px;
}

.noStatisticContainer {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: getColor('clr-white');
  padding: 40px;
  height: 300px;
  border: transparent;
  border-radius: 20px;
}

.modalOpenSpan {
  cursor: pointer;
  color: getColor('clr-main');
}

.noStatisticMessage {
  display: block;
  font-family: 'Poppins-Regular';
  font-size: 30px;
}
