.col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  height: 100%;
}
.commentWrap {
  width: 100%;
  text-align: start;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}