@import-normalize; /* bring in normalize.css styles */
// @import url('/src/stylesheet/fonts.css');
@import './sass/utils/variables';
@import './sass/utils/mixins';
@import './sass/utils/container';
@import './sass/utils/helpers';

@font-face {
  font-family: Circe-Regular;
  src: local('Circe-Regular'),
    url(./assets/fonts/Circe-Regular.ttf) format('ttf');
}

@font-face {
  font-family: Circe-Bold;
  src: local('Circe-Bold'), url(./assets/fonts/Circe-Bold.ttf) format('ttf');
}

@font-face {
  font-family: poppins_reg;
  src: local('Poppins-Bold'),
    url(./assets/fonts/Poppins-Regular.ttf) format('ttf');
}

@font-face {
  font-family: poppins_bold;
  src: local('Poppins-Bold'), url(./assets/fonts/Poppins-Bold.ttf) format('ttf');
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

section {
  min-width: 320px;
}
